:root {
    --primary-color-green-shade-70: #cbea7b;
    --primary-color-green-shade-85: #e5f5bd;
    --primary-color-green-shade-95: #f6fbf9;
    --primary-color-green-shade-99: #fafdf2;

    --primary-color-darkgreen-shade-15: #1a3129;
    --primary-color-darkgreen-shade-20: #234338;
    --primary-color-darkgreen-shade-30: #346454;

    --grey-shade-30: #4c4c4d;
    --grey-shade-60: #98989a;

    --white: #ffffff;
}


body {
    font-family: "Urbanist", sans-serif;
    text-align: left;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: black;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header {
    background-color: var(--primary-color-darkgreen-shade-15);
    color: var(--white);
    padding-top: 10px;
}

footer {
    background-color: var(--primary-color-darkgreen-shade-15);
    color: var(--white);
}

.footer-links {
    font-size: 18px;
    font-weight: 500;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--white);
    text-decoration: none;
}

.containerize {
    margin-left: 8%;
    margin-right: 8%;
}

.join-notification {
    height: 48px;
    border-radius: 10px;
    background-color: var(--primary-color-darkgreen-shade-30);

    /* */
    background-image: url('../img/Abstract\ Design.png'), url('../img/Abstract\ Design.png');

    /* background-size: 100px 80px, 100px 80px; */
    background-repeat: no-repeat, no-repeat;
    /* background-attachment: fixed, fixed;  */
    background-position: left center, right center;


    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 14px;
}


.join-notification img {
    height: 40px;
}


/* .join-notification p {
    font-size: 18px;
    font-weight: 600;
  } */

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 100px;
}

nav img {
    height: 40px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.FeatureList {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.blogEntries {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.pricing-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender-select{
    display: flex;
    justify-content: center;
    align-items: center;
}

button, .contact-Btn, .calcCaloriesBtn {
    background-color: var(--primary-color-green-shade-70);
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}


h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 69.6px;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
}

h3 {

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.left-image {
    border-radius: 15px 0px 0px 0px;
    box-shadow: 10px 5px 5px var(--primary-color-green-shade-70);
    width: 50vw;
}

.right-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.starter-Btn {
    color: black;
    background-color: var(--primary-color-green-shade-70);
}

.demo-Outline-Btn {
    color: black;
    background-color: var(--primary-color-green-shade-85);
    border: 2px solid var(--primary-color-green-shade-70);
}

.customer-icons-container {
    display: flex;
    justify-content: start;
    color: black;
}

.customer-icons {
    display: flex;
    justify-content: start;
}

.customer-icons img {
    width: 20px;
}

main {
    text-align: center;
}

.calcCaloriesBtn {
    background-color: var(--primary-color-green-shade-70);
    border-radius: 3px;
    color: black;
}


.choose-plan-btn {
    background-color: var(--primary-color-green-shade-70);
    color: black;
}